server:
  port: 8761

spring:
  application:
    name: eureka-server
  config:
    import: optional:file:.env[.properties]

eureka:
  instance:
    hostname: ${EUREKA_INSTANCE_HOSTNAME}
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${EUREKA_HOST}:${EUREKA_PORT}/eureka/